<!DOCTYPE html><html lang="en">
<head>    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div class="about">    <h1>About Us</h1>
    <img src="{{ url_for('static', filename='images/about_us.jpg') }}" alt="Our Cafes">
    <p>Our cake shop has been a family-owned business since 1995, delivering joy and sweetness to every occasion. We pride ourselves on using only the freshest and finest ingredients to create a variety of delightful cakes that cater to all tastes. Whether you're celebrating a birthday, wedding, or simply indulging in a sweet treat, our cakes are baked with love and attention to detail. Over the years, we have perfected our recipes, blending traditional techniques with modern flavors, ensuring that each bite is an unforgettable experience. Visit us and taste the magic!    </p>
</div>
</body>
</html>
